@*Name: Jordan Wriker
    Date: December 07. 2020
    Assignment: Lab 5  *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ReTech</h1>
    <p>
        Welcome to the ReTech online employee software. ReTech is a electronics resale company. We allow users to post their new or used hardware for
        sale so other users can browse the selection and order electronics as they see fit. Once ordered an email will be sent to the seller with
        the relevant information to ship the product. The users can update order status through the front end website to notify buyers of shipped
        or delivered products. This site was designed to allow employees to have easy access to the ReTech database to add, view, change, or delete
        any entries in the database.
    </p>
</div>
